.carousel-item {
    position: center;
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat; 
}
nav { background-color: #b7f3f3;
}
#titulo-música {
    text-align: center;
    text-size-adjust: large;
}
#titulo-música{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 900;
    font-style: italic oblique;
}
p{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-style: normal;
}
.center {
    width: 200;
    margin: 0 auto;
    background-attachment: fixed;
    background-image: linear-gradient(to top, #da9dc0, #d19dca, #c59fd3, #b6a1db, #a4a4e2, #93adec, #7fb6f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}